
<form action="{{ path('SLNRegisterBundle_mail_edit', {'id': id, 'saison_id': saison.id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" id="my_form">
  {{ form_errors(form) }}

  <div class="panel panel-default">
    <div class="panel-heading">Sélection des destinataires</div>
    <div class="panel-body">
     
      <p>Sélectionner un groupe ci-dessous, puis des licenciés dans ce groupe. Cliquez sur un des boutons "Ajouter" pour déplacer
         la sélection dans la liste de droite, sur un des boutons "Supprimer" pour enlever de la liste de droite.</p>
      <div class="row">
        <div class="col-sm-5" data-function="{{ path('api_get_licensees_in_group', {'id': '__id__', 'saison_id': saison.id}) }}">{{ form_widget(form.groupe) }}</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5"><p>Destinataires du mail</p></div>
      </div>

      <div class="row">
        <div class="col-sm-5"><select id="licensee_list" multiple="multiple" class="form-control" size="10"></select></div>
        <div class="col-sm-2"> 
          <div class="btn-group-vertical">
            <button type="button" class="btn btn-primary" id="add_all">Tout ajouter</button>
            <button type="button" class="btn btn-primary" id="add">Ajouter</button>
            <button type="button" class="btn btn-primary" id="del">Supprimer</button>
            <button type="button" class="btn btn-primary" id="del_all">Tout supprimer</button>
          </div>
        </div>
        <div class="col-sm-5">
          {{ form_errors(form.licensees) }}
          <select id="{{ form.licensees.vars.id }}" name="{{ form.licensees.vars.full_name }}" multiple="multiple" class="form-control" size="10">
          {% for licensee in defaultLicensees %}
            <option value="{{ licensee.id }}">{{ licensee }}</option>
          {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Texte du mail</div>
    <div class="panel-body">
      {{ form_errors(form.title) }}
      <h2 class="editable" id="title">{{ form.title.vars.value|raw }}</h2>
      {{ form_errors(form.body) }}
      <div class="editable" id="body">{{ form.body.vars.value|raw }}</div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Fichiers attachés</div>
    <div class="panel-body">
      <p>Si besoin, vous pouvez ajouter des fichiers à attacher au message.</p>
      <div id="no_upload_support">Votre navigateur ne supporte pas Flash, Silverlight ni HTML5.</div>
       
      <table id="filelist" class="table table-striped"
             data-fileid='{{ form_widget(form.files.vars.prototype.id)|e }}' 
             data-filename='{{ form_widget(form.files.vars.prototype.filename, {"attr": {"style": "display: none;"}})|e }}' 
             data-inline='{{ form_widget(form.files.vars.prototype.inline)|e }}'
             data-remove='<a href="#" title="Supprimer ce fichier"><span class="glyphicon glyphicon-trash"></span></a>'>
      <thead>
      <tr>
        <th>Fichier</th>
        <th>&nbsp;</th>
        <th>Lien seulement</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      {% for file in form.files %}
      <tr>
        <td>{{ form_widget(file.filename, {"attr": {"style": "display: none;"}}) }}
            {{ form_widget(file.id) }}
            {{ file.vars.value.filename }}</td>
        <td class="size">{{ file.vars.value.getFile.getSize }}</td>
        <td>{{ form_widget(file.inline) }}
        <td class='remove'></td>
      </tr>
      {% endfor %}
      </tbody>
      </table>

      <div id="container">
          <a id="pickfiles" href="javascript:;" data-function="{{ oneup_uploader_endpoint('gallery') }}">[Sélectionner les fichiers]</a>
      </div>

    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
      <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="Etape suivante »" />
    </div>
  </div>

  {{ form_widget(form.title, {'attr': {'class': 'hidden'}}) }}
  {{ form_widget(form.body, {'attr': {'class': 'hidden'}}) }}
  {% do form.licensees.setRendered %}
  {% do form.files.setRendered %}
  {{ form_rest(form) }}
</form>
