{% if mails|length > 0 %}
{% if num_pages > 1 %}
  {% set first = max(1, page-5) %}
  {% set last = min(num_pages, page+5) %}

<ul class="pagination">
  {% if first > 1 %} 
    <li><a href="{{ path('SLNRegisterBundle_mail_list', { id: id, saison_id: saison.id, page: 1, admin: admin }) }}">1</a></li>
    <li class="disabled"><a href="#">...</a></li>
  {% endif %}

  {% for p in first .. last %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('SLNRegisterBundle_mail_list', { id: id, saison_id: saison.id, page: p, admin: admin }) }}">{{ p }}</a>
    </li>
  {% endfor %}

  {% if last < num_pages %}
    <li class="disabled"><a href="#">...</a></li>
    <li><a href="{{ path('SLNRegisterBundle_mail_list', { id: id, saison_id: saison.id, page: num_pages, admin: admin }) }}">{{ num_pages }}</a></li>
  {% endif %}
</ul>
{% endif %}

<table class="table table-striped">
<tr>
  <th width="70%">Message</th>
  {% if admin %}
  <th>Destinataires</th>
  {% endif %}
</tr>
{% for mail in mails %}
<tr>
  <td>
    <details>
      <summary>{{ mail.updated|date('d/m/Y') }}:&nbsp;{{ mail.title|raw }}</summary>
      {{ mail.body|raw }}</td>
    </details>
  </td>
  {% if admin %}
  <td>
    <details>
      <summary>{{ mail.licensees|length }}&nbsp;destinataires.</summary>
      <p>
      {% for licensee in mail.licensees %}
        <a href="{{ path('SLNRegisterBundle_admin_licensee_edit', { saison_id: saison.id, id: licensee.getId }) }}" title="Fiche d'inscription pour ce licencié">
          {{ licensee.prenom }}&nbsp;{{ licensee.nom}}{% if not loop.last %}, {% endif %}
        </a>
      {% endfor %}
      </p>
    </details>
  </td>
  {% endif %}
</tr>
{% endfor %}
</table>

{% else %}

<p>Pas de mails archivés.</p>

{% endif %}

