{% set tr_open='<tr><td>' %}
{% set tr_close='</tr></td>' %}
{% set td='</td><td>' %}

<form action="{{ path('SLNRegisterBundle_groupe_edit', {'id': id}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal" role="form">
  {{ form_errors(form) }}

  <div class="panel panel-default">
    <div class="panel-heading">Description</div>
    <div class="panel-body">
      {{ form_row(form.nom) }}
      {{ form_row(form.categorie) }}
      {{ form_row(form.description) }}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Horaires</div>
    <div class="add-row panel-body">
      <p class='help'>Sélectionner l'option suivante si les licenciés peuvent choisir un ou plusieurs cours de façon 
                      indépendente (Avec un impact sur le tarif)</p>
      {{ form_row(form.multiple) }}

      <table class='table table-striped'>
        <thead>
        <tr>
          <th>Jour</th><th>Début</th><th>Fin</th><th>Description</th><th>Action</th>
        </tr>
        </thead>
        <tbody data-prototype='
{{ tr_open|e }}{{ form_widget(form.horaires.vars.prototype.jour)|e }} {{ form_widget(form.horaires.vars.prototype.jour)|e }}
     {{ td|e }}{{ form_widget(form.horaires.vars.prototype.debut)|e }} {{ form_widget(form.horaires.vars.prototype.debut)|e }}
     {{ td|e }}{{ form_widget(form.horaires.vars.prototype.fin)|e }} {{ form_widget(form.horaires.vars.prototype.fin)|e }}
     {{ td|e }}{{ form_widget(form.horaires.vars.prototype.description)|e }} {{ form_widget(form.horaires.vars.prototype.description)|e }}
     {{ td|e }}{{ tr_close|e }}'>
        {% for horaire in form.horaires %}
        <tr>
          <td>{{ form_widget(horaire.jour) }} {{ form_errors(horaire.jour) }}</td>
          <td>{{ form_widget(horaire.debut) }} {{ form_errors(horaire.debut) }}</td>
          <td>{{ form_widget(horaire.fin) }} {{ form_errors(horaire.fin) }}</td>
          <td>{{ form_widget(horaire.description) }} {{ form_errors(horaire.description) }}</td>
          <td></td>
        </tr>
    {% endfor %}
       </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Tarifs</div>
    <div class="add-row panel-body">

      <table class='table table-striped'>
        <thead>
        <tr>
          <th>Type de tarif</th><th>Valeur</th><th>Description</th><th>Action</th>
        </tr>
        </thead>
        <tbody data-prototype='
{{ tr_open|e }}{{ form_widget(form.tarifs.vars.prototype.type)|e }} {{ form_widget(form.tarifs.vars.prototype.type)|e }}
     {{ td|e }}{{ form_widget(form.tarifs.vars.prototype.value)|e }} {{ form_widget(form.tarifs.vars.prototype.value)|e }}
     {{ td|e }}{{ form_widget(form.tarifs.vars.prototype.description)|e }} {{ form_widget(form.tarifs.vars.prototype.description)|e }}
     {{ td|e }}{{ tr_close|e }}'>
        {% for tarif in form.tarifs %}
        <tr>
          <td>{{ form_widget(tarif.type) }} {{ form_errors(tarif.type) }}</td>
          <td>{{ form_widget(tarif.value) }} {{ form_errors(tarif.value) }}</td>
          <td>{{ form_widget(tarif.description) }} {{ form_errors(tarif.description) }}</td>
          <td></td>
        </tr>
    {% endfor %}
       </tbody>
      </table>
    </div>
  </div>

  {{ form_rest(form) }}
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
      <input type="submit" class="btn btn-primary" type="submit" value="Envoyer" />
    </div>
  </div>
</form>

     
