{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Liste des groupes de natation{% endblock %}

{% block body %}
<div class="btn-group btn-group-justified">
  <a class="btn btn-primary" href="{{ path('SLNRegisterBundle_groupe_create') }}">Créer un groupe</a>
</div>

<h1>Liste des groupes de natation</h1>

{% for category_name,groupes in groupes_by_categories %}
<h2>{{ category_name }}</h2>

<table class='table table-striped'>
<thead>
<tr>
  <th>Nom</th><th>Description</th><th>Horaires</th><th>Action</th>
<tr>
</thead>
  {% for groupe in groupes %}
<tr>
  <td><a href="{{ path('SLNRegisterBundle_groupe_show', {id: groupe.getId}) }}">{{ groupe.nom }}</a></td>
  <td>{{ groupe.description | nl2br }}</td>
  <td>
    {% for horaire in groupe.getFormatedHoraires %}
      {{ horaire.getJour|capitalize }},&nbsp;de&nbsp;{{ horaire.getDebut }}&nbsp;à&nbsp;{{ horaire.getFin }}&nbsp;({{ horaire.description }})
      {% if not loop.last %}<br/>{% endif %}
    {% endfor %}
  </td>
  <td><a href="{{ path('SLNRegisterBundle_groupe_edit', {id: groupe.getId}) }}" title='Modifier ce groupe'>
      <span class="glyphicon glyphicon-pencil"></span></a>
      <a href="{{ path('SLNRegisterBundle_groupe_delete', {id: groupe.getId}) }}" title='Supprimer ce groupe'
         onclick="return confirm('Etes-vous sûr de vouloir effacer le groupe {{ groupe.nom }} ?');">
      <span class="glyphicon glyphicon-trash"></a>
   </td>
</tr>
  {% endfor %}
</table>
{% endfor %}

{% endblock %}

