{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Groupe {{ groupe.nom }}{% endblock %}

{% block body %}
<div class="btn-group btn-group-justified">
  <a class="btn btn-primary" href="{{ path('SLNRegisterBundle_groupe_list') }}">Liste des groupes</a>
  <a class="btn btn-primary" href="{{ path('SLNRegisterBundle_groupe_edit', {id: groupe.getId}) }}">Modifier ce groupe</a>
</div>

<h1>Groupe de natation: {{ groupe.nom }}</h1>

<h2>Horaires et tarifs</h2>

<p>Pour le groupe <span class="mark">{{ groupe.nom }}</span>, les horaires sont les suivants:</p>

<table class='table table-striped'>
<thead>
<tr>
  <th>Jour</th><th>Heure de début</th><th>Heure de fin</th><th>Description</th>
<tr>
</thead>
{% for horaire in groupe.getFormatedHoraires %}
<tr>
  <td>{{ horaire.getJour|capitalize }}</td><td>{{ horaire.getDebut }}</td><td>{{ horaire.getFin }}</td><td>{{ horaire.description }}</td>
</tr>
{% endfor %}
</table>

<p>Les tarifs sont les suivants:</p>

<table class='table table-striped'>
<thead>
<tr>
  <th>Type</th><th>Prix</th><th>Description</th>
<tr>
</thead>
{% for tarif in groupe.getTarifList %}
<tr>
  <td>{{ tarif.getTypeStr }}</td><td>{{ tarif.getPrice }}</td><td>{{ tarif.description }}</td>
</tr>
{% endfor %}
</table>


<h2>Liste des licenciés</h2>

<p>{{ licensees['num'] }} licenciés</p>

  {% if licensees['multiple'] %}
    {% for jour,values in licensees['jours'] %}
      {% if jour == -1 %}
<h3>Pas de jour selectionné</h3>
      {% else %}
<h3>Jour du {{ values['jour'] }}</h3>
      {% endif %}

<p>{{ values['num'] }} licencié(e)s</p>
  
      {% include 'SLNRegisterBundle:Licensee:list_content.html.twig' with { 'licensees': values['licensees'], 'admin': admin } %}
    {% endfor %}
  {% else %}
    {% include 'SLNRegisterBundle:Licensee:list_content.html.twig' with { 'licensees': licensees['licensees'], 'admin': admin } %}
  {% endif %}
  
{% endblock %}
  
  
