<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Inscriptions{% endblock %} - Stade Laurentin Natation</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block stylesheets %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.css') }}">
    <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jqc-1.12.4/dt-1.10.15/datatables.min.css"/>
  {% endblock %}
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<div class='container-fluid' id='header'>
  <div class="banner">
    <a href="/" title="Accueil"><img class="img-responsive" alt="" src="{{ asset('banner.png') }}"/></a>
  </div>
</div>

<nav class='navbar navbar-default' data-spy="affix" data-offset-top="115">
  <div class='navbar-header'>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class='navbar-brand' href='http://www.stadelaurentinnatation.fr'>Stade Laurentin Natation</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ knp_menu_render('SLNRegisterBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'SLNRegisterBundle:Menu:knp_menu.html.twig'}) }}
    {{ knp_menu_render('SLNRegisterBundle:Builder:userMenu', {'currentClass': 'active', 'template': 'SLNRegisterBundle:Menu:knp_menu.html.twig'}) }}
    {% endif %}
  </div>
</nav>

<div class='container-fluid' id='content'>
  {% for flashMessage in app.session.flashbag.get('error') %}
  <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ flashMessage }}
  </div>
  {% endfor %}

  {% for flashMessage in app.session.flashbag.get('warning') %}
  <div class="alert alert-warning fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ flashMessage }}
  </div>
  {% endfor %}

  {% for flashMessage in app.session.flashbag.get('notice') %}
  <div class="alert alert-info fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ flashMessage }}
  </div>
  {% endfor %}

  <div id='main-col'>
      {% block body %}{% endblock %}
  </div>

  <div id='footer'>
  {% block footer %}
    Site d'inscription - Créé par Cédric Airaud - version {{ version }}
  {% endblock %}
  </div>
</div>

{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
  <script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/datatables.min.js"></script>
  <script src="{{ asset('js/jquery.details.js') }}"></script>
  <script>
  $(function() {
    // Add conditional classname based on support
    $('html').addClass($.fn.details.support ? 'details' : 'no-details');

    // Emulate <details> where necessary and enable open/close event handlers
    $('details').details();

    // Tables with class datatable are defined as DataTable for sorting
    $('table.datatable').DataTable({
        paging: false, 
        "language": {
            "url": "{{ asset('js/French.json') }}" }
      });
  });
  </script>
{% endblock %}

</body>
</html>

