{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
{% if id != 0 %}
<div class="btn-group btn-group-justified">
  <a class="btn btn-primary" href="{{ path('SLNRegisterBundle_admin_licensee_inscription', {'id': id}) }}" target="_blank">Imprimer la fiche d'inscription</a>
</div>
{% endif  %}

<h1>{{ title }}</h1>

  {% include 'SLNRegisterBundle:Licensee:form.html.twig' with { 'form': form, 'title': title, 'id': id, 'user_id': user_id, 'admin': admin } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/slnregister/js/licensee.js') }}"></script>
    <script type="text/javascript">
      $( document ).ready(function() { 
        $('.datepicker').datetimepicker({format: 'DD/MM/YYYY', locale: 'fr'});
        setup_group_description(); 
      });
    </script>
{% endblock %}
