<form action="{% if admin %}
                {% if id == 0 %} {{ path('SLNRegisterBundle_admin_licensee_create', {'user_id': user_id}) }}
                {% else %} {{ path('SLNRegisterBundle_admin_licensee_edit', {'id': id}) }} {% endif %}
              {% else %}
                {% if id == 0 %} {{ path('SLNRegisterBundle_licensee_create', {'user_id': user_id}) }}
                {% else %} {{ path('SLNRegisterBundle_licensee_edit', {'id': id}) }} {% endif %}
              {% endif %}" method="post" {{ form_enctype(form) }} class="form-horizontal" role="form">
  {{ form_errors(form) }}

  {% if admin %}
  <div class="panel panel-default">
    <div class="panel-heading">Compte de rattachement</div>
    <div class="panel-body">
       {{ form_row(form.user) }}

       <p class="help"><a href="{{ path('SLNRegisterBundle_member_create') }}"><span class="glyphicon glyphicon-plus"></span>Ajouter un compte utilisateur</a></p>
       {% if id != 0 %}
       <p><a href="{{ path('SLNRegisterBundle_member_edit', {'id': licensee.user.id }) }}"><span class="glyphicon glyphicon-edit"></span>Editer le membre</a></p>
       {% endif %}
    </div>
  </div>
  {% endif %}

  <div class="panel panel-default">
    <div class="panel-heading">Identité</div>
    <div class="panel-body">
      {{ form_row(form.sexe) }}
      {{ form_row(form.nom) }}
      {{ form_row(form.prenom) }}
      {{ form_row(form.naissance) }}
  
      <p class='help'>En cas de renouvellement, indiquez le numéro de licence (IUF), si vous le connaissez:</p>
      {{ form_row(form.iuf) }}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Groupe de natation</div>
    <div class="panel-body">
      <p class="help">Sélectionnez le groupe de natation (pour la saison prochaine) si vous le connaissez.</p>
      <p class="help note">Les entraineurs peuvent changer les groupes de natation en fonction du niveau</p>

      {{ form_row(form.form_saison_link.groupe) }}

      <div id='groupe-description' data-function="{{ path('api_get_group', {'id': '__id__'}) }}" class="row">
        <div id='groupe_jours'>
          <p class='help'>Choisissez le ou les jours auxquels vous souhaitez vous inscrire. Attention, le tarif dépend du nombre de cours.</p>
          {{ form_row(form.form_saison_link.groupe_jours) }}
        </div>
        <div class='groupe-description col-sm-6'></div>
        <div class='groupe-horaires col-sm-6'></div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Autorisations</div>
    <div class="panel-body">
    <p class='help'>J’accepte que les résultats sportifs, le nom  ainsi que la photo (podium, photo de groupe...) de mon enfant puissent apparaître 
       sur le site internet  du club ou de documents destinés à la recherche de sponsors pour le club.</p>
    {{ form_row(form.autorisation_photos) }}
    </div>
  </div>

  {% if admin %}
  <div class="panel panel-default">
    <div class="panel-heading">Fonctions spéciales</div>
    <div class="panel-body">
      {{ form_row(form.fonctions) }}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Etat de l'inscription</div>
    <div class="panel-body">
    {{ form_row(form.inscription) }}
    </div>
  </div>
  {% endif %}
  
  {{ form_rest(form) }}
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
      <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="Envoyer" />
    </div>
  </div>
</form>
