{% if licensees|length > 0 %}
<table class="table table-striped">
<tr>
  <th>Nom</th>
  <th>Prénom</th>
  <th>Date de naissance</th>
  <th>Groupe</th>
  <th>Actions</th>
</tr>
{% for licensee in licensees %}
  {% set missingNum = licensee.inscriptionMissingNum %}
  {% set missingStr = licensee.inscriptionMissingString %}

<tr>
  <td>
    {{ licensee.nom }}
    {% if missingNum > 2 %}
      &nbsp;<span class="glyphicon glyphicon-exclamation-sign red-color" title="{{ missingStr }}"></span>
    {% elseif missingNum > 0 %}
      &nbsp;<span class="glyphicon glyphicon-exclamation-sign orange-color" title="{{ missingStr }}"></span>
    {% endif %}
  </td>
  <td>{{ licensee.prenom }}</td>
  <td>{{ licensee.naissance|date('d/m/Y') }}</td>
  <td>
      {% if licensee.groupe %}
        {% if admin %}<a href="{{ path('SLNRegisterBundle_groupe_show', { id: licensee.groupe.id }) }}">{{ licensee.groupe.nom }}</a>
        {% else %}{{ licensee.groupe.nom }}{% endif %}
      {% else %} Pas de groupe sélectionné.{% endif %}
  <td>
    <a href="{% if admin %}{{ path('SLNRegisterBundle_admin_licensee_edit', { id: licensee.getId }) }}
             {% else %}{{ path('SLNRegisterBundle_licensee_edit', { id: licensee.getId }) }}{% endif %}" title='Modifier ce licencié'>
      <span class="glyphicon glyphicon-pencil"></span></a>
    <a href="{{ path('SLNRegisterBundle_licensee_delete', { id: licensee.getId }) }}" title='Supprimer ce licencié'
         onclick="return confirm('Etes-vous sûr de vouloir effacer le licencié {{ licensee.prenom }} {{ licensee.nom }} ?');">
      <span class="glyphicon glyphicon-trash"></span></a>
  {% if admin %}
    {% if member_link | default(true) %}
    <a href="{{ path('SLNRegisterBundle_member_edit', { id: licensee.user.id }) }}" title="Fiche du membre">
      <span class="glyphicon glyphicon-user"></span></a>
    {% endif %}
    <a href="{{ path('SLNRegisterBundle_admin_licensee_inscription', { id: licensee.getId }) }}" title="Fiche d'inscription pour ce licencié" target="_blank">
      <span class="glyphicon glyphicon-print"></span></a>
    <a href="{{ path('SLNRegisterBundle_mail_licensee_select', { defaultLicensee: licensee.getId }) }}" title="Envoyer un mail à ce licencié">
      <span class="glyphicon glyphicon-envelope"></span></a>
  {% endif %}
  </td>
</tr>
{% endfor %}
</table>

{% else %}

<p>Pas de licencié enregistré</p>

{% endif %}
