{% if licensees|length > 0 %}
<table class="table table-striped datatable">
<thead>
<tr>
  <th>Nom</th>
  <th>Prénom</th>
  <th>Date de naissance</th>
  <th>Groupe</th>
  <th>Téléphone</th>
  <th>Actions</th>
</tr>
</thead>
<tbody>
{% for licensee in licensees %}
  {% set missingNum = licensee.inscriptionMissingNum(saison) %}
  {% set missingStr = licensee.inscriptionMissingString(saison) %}
  {% set groupe = licensee.getGroupe(saison) %}

<tr>
  <td>
    {{ licensee.nom }}
    {% if missingNum > 0 %}
      {% if missingNum < 2 %}
      &nbsp;<span class="glyphicon glyphicon-exclamation-sign orange-color" title="{{ missingStr }}"></span>
      {% else %}
      &nbsp;<span class="glyphicon glyphicon-exclamation-sign red-color" title="{{ missingStr }}"></span>
      {% endif %}
    {% endif %}
  </td>
  <td>{{ licensee.prenom }}</td>
  <td>{{ licensee.naissance|date('d/m/Y') }}</td>
  <td>
      {% if groupe %}
        {% if admin %}<a href="{{ path('SLNRegisterBundle_groupe_show', { 'id': groupe.id, 'saison_id': saison.id }) }}">{{ groupe.nom }}</a>
        {% else %}{{ groupe.nom }}{% endif %}
      {% else %} Pas de groupe sélectionné.{% endif %}
  </td>
  <td>{{ licensee.getTelephone }}</td>
  <td>
    {% if saison.activated %}
    <a href="{% if admin %}{{ path('SLNRegisterBundle_admin_licensee_edit', { 'id': licensee.getId, 'saison_id': saison.id }) }}
             {% else %}{{ path('SLNRegisterBundle_licensee_edit', { 'id': licensee.getId, 'saison_id': saison.id }) }}{% endif %}" title='Modifier ce licencié'>
      <span class="glyphicon glyphicon-pencil"></span></a>
    <a href="{{ path('SLNRegisterBundle_licensee_delete', { id: licensee.getId }) }}" title='Supprimer ce licencié'
         onclick="return confirm('Etes-vous sûr de vouloir effacer le licencié {{ licensee.prenom }} {{ licensee.nom }} ?');">
      <span class="glyphicon glyphicon-trash"></span></a>
    {% endif %}
    {% if admin and open_saison|default(FALSE) and open_saison.id != saison.id %}
    <a href="{{ path('SLNRegisterBundle_admin_licensee_edit', { 'id': licensee.getId, 'saison_id': open_saison.id }) }}" 
       title='Réactiver ce licencié pour la saison {{open_saison.nom}}'>
      <span class="glyphicon glyphicon-flash text-warning"></span></a>
    <a href="{{ path('SLNRegisterBundle_licensee_delete', { id: licensee.getId }) }}" title='Supprimer ce licencié'
         onclick="return confirm('Etes-vous sûr de vouloir effacer le licencié {{ licensee.prenom }} {{ licensee.nom }} ?');">
      <span class="glyphicon glyphicon-trash"></span></a>
    {% endif %}
  {% if admin %}
    {% if member_link | default(true) %}
    <a href="{{ path('SLNRegisterBundle_member_edit', { id: licensee.user.id }) }}" title="Fiche du membre">
      <span class="glyphicon glyphicon-user"></span></a>
    {% endif %}
    {% if saison.activated %}
    <a href="{{ path('SLNRegisterBundle_admin_licensee_inscription', { 'id': licensee.getId, 'saison_id': saison.id }) }}" title="Fiche d'inscription pour ce licencié" target="_blank">
      <span class="glyphicon glyphicon-print"></span></a>
    {% endif %}
    <a href="{{ path('SLNRegisterBundle_mail_licensee_select', { 'defaultLicensee': licensee.getId, 'saison_id': saison.id }) }}" title="Envoyer un mail à ce licencié">
      <span class="glyphicon glyphicon-envelope"></span></a>
    <a href="{{ path('SLNRegisterBundle_payment_user', { saison_id: saison.id, user_id: licensee.user.id }) }}" title="Paiements pour ce licencié">
      <span class="glyphicon glyphicon-euro"></span></a>
  {% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% else %}

<p>Pas de licencié enregistré</p>

{% endif %}
