<table class="register">
<tr>
  <th>Nom</th>
  <th>Prénom</th>
  <th>Date de naissance</th>
  <th>Groupe</th>
  <th>Actions</th>
</tr>
{% for licensee in licensees %}
<tr class="{{ cycle(['odd', 'even'], loop.index0)}}">
  <td>{{ licensee.nom }}</td>
  <td>{{ licensee.prenom }}</td>
  <td>{{ licensee.naissance|date('d/m/Y') }}</td>
  <td>{{ licensee.iuf }}</td>
  <td>
    <a href="{{ path('SLNRegisterBundle_licensee_edit', {id: licensee.getId}) }}" title='Modifier ce licencié'>
      <img src="{{ asset('bundles/slnregister/images/icon_editrow.png') }}"></a>
    <a href="{{ path('SLNRegisterBundle_licensee_delete', {id: licensee.getId}) }}" title='Supprimer ce licencié'
         onclick="return confirm('Etes-vous sûr de vouloir effacer le licencié {{ licensee.prenom }} {{ licensee.nom }} ?');">
      <img src="{{ asset('bundles/slnregister/images/icon_deleterow.gif') }}">
  </td>
</tr>
{% endfor %}
</table>

