{% extends 'form_div_layout.html.twig' %}

{%- block form_row -%}
    <div class="form-group">
        {{- form_errors(form) -}}
        {{- form_label(form) -}}
        <div class="col-sm-7">
          {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock form_row -%}

{%- block form_label -%}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label col-sm-3')|trim}) %}
    {{ parent() }}
{%- endblock form_label -%}

{%- block widget_attributes -%}
    {% set no_control_form = no_control_form|default(false) %}
    {% if not no_control_form %}
      {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {% endif %}
    {{ parent() }}
{%- endblock widget_attributes -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
    <p class='alert alert-danger'>{{ error.message }}</p>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{%- block date_widget -%}
    <div class="input-group date datepicker">
      {% set no_control_form = true %}
      <input type="text" class="form-control datepicker" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
      <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>
{%- endblock date_widget -%}

{%- block time_widget -%}
    <div class="input-group date timepicker">
      {% set no_control_form = true %}
      <input type="text" class="form-control timepicker" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
    </div>
{%- endblock time_widget -%}

{%- block checkbox_widget -%}
    <div class="checkbox">
      {% set no_control_form = true %}
      <label><input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
      {% if label is not sameas(false) -%}{{ label|trans }}{% endif %}</label>
    </div>
{%- endblock checkbox_widget -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
        {{- form_widget(child) -}}
    {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}



