{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<h1 class='register'>Se connecter à un compte utilisateur</h1>

<p>Ce formulaire permet d'accéder aux pages d'inscription.</p>

<p>Si vous n'avez pas encore créé de compte, entrez vos coordonnées sur <a href="{{ path('fos_user_registration_register') }}">cette page</a>.</p>

<form action="{{ path('fos_user_security_check') }}" method="POST" class="register">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

  <fieldset>
    <legend>Informations de connection</legend>

{% if error %}
    <p class='form_error'>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
{% endif %}

    <div>
      <label for="username">{{ 'security.login.username'|trans }}</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>

    <div>
      <label for="password">{{ 'security.login.password'|trans }}</label>
      <input type="password" id="password" name="_password" required="required" />
    </div>

    <div>
      <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
      <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    </div>

  </fieldset>
  
  <div>
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
  </div>
  
</form>

{% endblock fos_user_content %}

