{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Feuilles d'inscriptions{% endblock %}

{% block body %}

<div class='description no-print'>
<p>Veuillez imprimer les feuilles d'inscriptions ci-dessous et les apporter au bureau du club.<p>
<p>Vous aurez besoin de fournir en même temps pour chaque licencié:</p>
<ul>
  <li>Le certificat médical demandé sur la feuille d'inscription,</li>
  <li>Une photo d'identité,</li>
  <li>La feuille de licence de la Fédération Française de Natation remplie et signée,</li>
  <li>Le paiement en chèque, ou pour les pré-inscriptions en juin, une caution de 50€.</li>
</ul>
</div>

{% for licensee in licensees if licensee.groupe %}
  {% set ECOLE = licensee.groupe.categorie == constant('SLN\\RegisterBundle\\Entity\\Groupe::ECOLE') %}
  {% set COMPETITION = licensee.groupe.categorie == constant('SLN\\RegisterBundle\\Entity\\Groupe::COMPETITION') %}
  {% set LOISIR = licensee.groupe.categorie == constant('SLN\\RegisterBundle\\Entity\\Groupe::LOISIR') %}
  {% set HOMME = licensee.getSexe == constant('SLN\\RegisterBundle\\Entity\\Licensee::HOMME') %}

<div id='inscriptions'>
  <div class='header'>
    <table>
    <tr>
      <td class='col1'><img src="{{ asset('bundles/slnregister/images/logo_club_t.png') }}"/></td>
      <td class='col2'>
        <img src="{{ asset('bundles/slnregister/images/titre_club_t.png') }}"/>
        <p>Affilié à la F.F.N et agréé E.N.F<br/><a href='www.stadelaurentinnatation.fr'>www.stadelaurentinnatation.fr</a></p>
      </td>
      <td class='col3'>
        {% if ECOLE %}<img src="{{ asset('bundles/slnregister/images/ecole_natation.gif') }}"/>
        {% elseif COMPETITION %}<img src="{{ asset('bundles/slnregister/images/logo_ffn.png') }}"/>
        {% else %}&nbsp;{% endif %}
      </td>
    </tr>
    </table>
  </div>

  <div class='instructions'>
    <h2>{% if ECOLE %}Dossier d'inscription Ecole
        {% elseif COMPETITION %}Dossier d'inscription Compétition
        {% else %}Dossier d'inscription Loisir{% endif %}</h2>
    <ul>
      <li>1 photos d'identité</li>
      <li>{% if COMPETITION %}1 certificat médical d’absence de contre-indication à la <span class='important'>pratique sportive de la natation 
                              en compétition</span> (Article L3622-2 du code de la santé publique)
          {% else %}1 certificat médical d'aptitude à la pratique de la natation{% endif %}</li>
      <li>La présente fiche de renseignements signée</li>
      <li>La feuille de licence de la Fédération Française de Natation remplie et signée</li>
      <li>Le règlement de la cotisation</li>
    <ul>
  </div>

  <div class='renseignements_licencie'>
    <h2>Renseignements licencié{% if not HOMME %}e{% endif %}</h2>

    <table>
    <tr>
      <td class='label'>Nom {% if HOMME %}du nageur{% else %}de la nageuse {% endif %}&nbsp;:</td><td class='valeur'>{{ licensee.getNom }}</td>
      <td class='label'>Prénom&nbsp;:</td><td class='valeur'>{{ licensee.getPrenom }}</td>
    </tr>
    <tr>
      <td class='label'>Nom des parents&nbsp;:</td><td class='valeur'>{{ user.getNom }}</td>
      <td class='label'>Date de naissance&nbsp;:</td><td class='valeur'>{{ licensee.getNaissance|date("d/m/Y") }}</td> 
    </tr>
    <tr>
      <td class='label' rowspan='2'>Adresse&nbsp;:</td><td rowspan='2' class='valeur'>{{ user.getAdresse }}</td>
      <td class='label'>Code postal&nbsp;:</td><td class='valeur'>{{ user.getCodePostal }}</td>
    </tr>
    <tr>
      <td class='label'>Ville&nbsp;:</td><td class='valeur'>{{ user.getVille }}</td>
    </tr>
    <tr>
      <td class='label'>Téléphone&nbsp;:</td><td class='valeur'>{{ user.getTelDomicile }}</td>
      <td class='label'>Portable&nbsp;:</td><td class='valeur'>{{ user.getTelPortable }}</td>
    </tr>
    <tr>
      <td class='label'>Email&nbsp;:</td><td colspan='3' class='valeur'>{{ user.getEmail }}</td>
    </table>
  </div>
    
  <div class='attestation'>
    <h2>Attestation{% if licensee.isMineur %} des parents pour un mineur{% endif %}</h2>
    <ul>
{% if licensee.isMineur %}
      <li>Je soussigné(e), Madame/Monsieur {{user.getPrenom}} {{ user.getNom }}, déclare avoir inscrit 
          {% if HOMME %}mon fils{% else %}ma fille{% endif %} {{ licensee.getPrenom }} {{ licensee.getNom }} 
          au Stade Laurentin Natation,</li>
{% endif %}
      <li>J'atteste avoir fourni le certificat médical obligatoire et être à jour dans le paiement de la cotisation,</li>
{% if licensee.isMineur %}
      <li {% if not licensee.getAutorisationPhotos %}class='no'{% endif %}>
        J'accepte que les résultats sportifs, le nom  ainsi que la photo (podium, photo de groupe...) de mon enfant puissent apparaître 
        sur le site internet  du club ou de documents destinés à la recherche de sponsors pour le club,</li>
      <li>Je m'engage à déposer mon enfant à la piscine pour qu'il soit à l'heure à son entraînement, et le récupérer à la fin du cours, 
          le club n’étant pas responsable,</li>
{% endif %}
      <li>Le club ne peut être tenu responsable en cas de vol ou de dégradation des affaires personnelles, dans  les vestiaires.</li>
      <li>Au début et à la fin des cours, l’installation et la désinstallation des lignes sont à la charge des adhérents. Merci de votre compréhension.</li>
    </ul>
    <p class='important'>J'ai bien pris note qu'aucun remboursement ne sera effectué en cours de saison</p>
  </div>

  <div class='signature'>
    <table>
    <tr>
      <td>A {{ user.ville }}, le {{ "now"|date("d/m/Y") }}</td>
      <td class='signature'>Signature du responsable légal:</td>
    </tr>
    </table>
  </div>

  <div class='footer'>
    <p>Cadre réservé</p>
    <table>
    <tr>
      <td>Certificat</td><td>Licence</td><td>Photo</td><td>Groupe</td><td>Chèque</td><td>Espèces</td>
    </tr>
    <tr class='values'>
      <td>&nbsp;</td><td>{{ licensee.getIuf }}</td><td>&nbsp;</td><td>{{ licensee.getGroupe }}</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    </table>
  </div>

</div>

{% endfor %}

{% endblock %}
