<table class='table table-striped datatable'>
<thead>
<tr>
  <th>Nom</th>
  <th>Prénom</th>
  <th>Email</th>
  <th>Tél. domicile</th>
  <th>Tél. portable</th>
  <th>Actions</th>
</tr>
</thead>
<tbody>
{% for member in members %}
<tr>
  <td>
    {{ member.nom }}
  </td>
  <td>{{ member.prenom }}</td>
  <td><a href='mailto:{{ member.email }}'>{{ member.email }}</a></td>
  <td>{{ member.telDomicile }}</td>
  <td>{{ member.telPortable }}</td>
  <td>
    <a href="{{ path('SLNRegisterBundle_member_edit', { id: member.id }) }}" title='Modifier ce membre'>
      <span class="glyphicon glyphicon-pencil"></span></a>
    <a href="{{ path('SLNRegisterBundle_payment_user', { saison_id: saison.id, user_id: member.id }) }}" title='Suivi des inscriptions'>
      <span class="glyphicon glyphicon-euro"></span></a>
    {% if member.hasRole('ROLE_ADMIN') %}
    <span class="glyphicon glyphicon-wrench" title="Administrateur"></span>
    {% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>

