{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Inscription au club{% endblock %}

{% block body %}

  {% if activeLicensees %}
  <h1>Inscriptions pour la saison {{ year }}-{{year + 1 }}</h1>

  <p>Voici la liste des inscriptions enregistrées pour vous-même ou vos enfants pour la <span class='important'>saison {{ year }}-{{year + 1 }}</span>.</p>

  <p>Vous pouvez les modifier en cliquant sur le bouton <img src="{{ asset('bundles/slnregister/images/icon_editrow.png') }}" title='Modifier'/>, 
     ou supprimer en cliquant sur le bouton <img src="{{ asset('bundles/slnregister/images/icon_deleterow.gif')}}" title='Supprimer'/>.</p>

  {% include 'SLNRegisterBundle:Licensee:list_content.html.twig' with { 'licensees': activeLicensees } %}

  <p>Une fois toutes les inscriptions complétées, vous devez imprimer les feuilles d'inscription:</p>
  <a class='btn' href="{{ path('SLNRegisterBundle_member_inscriptions', {'user_id': app.user.getId}) }}" target="_blank">
     Imprimer les feuilles d'inscription pré-remplies</a>
  <p>Pensez aussi télécharger, remplir et imprimer un formulaire de licence par personne:</p>
{% set yearp1 = year+1%}
  <a class='btn' href="{{ asset('bundles/slnregister/images/formulaire_licence_'~yearp1~'.pdf') }}" target="_blank">
     Télécharger le formulaire de licence {{ year }}-{{ year+1 }}</a>
  {% endif %}

  <!--
  <h1>Inscriptions à renouveler</h1>

  <p>Ces inscriptions ont été activées les années précédentes mais ne sont plus valide pour cette saison. Vous pouvez choisir de les 
     renouveller.</p>
  -->

  <h1>Ajouter une inscription pour la saison {{ year }}-{{year + 1 }}</h1>

  <p>Ajoutez une inscription pour vous-même ou un de vos enfants. Vous avez la possibilité d'en ajouter plusieurs sur cet espace.</p>

  {{ render(controller('SLNRegisterBundle:Licensee:edit', { 'id': 0, 'user_id': app.user.id, 'inside_page': TRUE })) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/slnregister/js/licensee.js') }}"></script>
    <script type="text/javascript">
      $( document ).ready(function() { setup_group_description(); });
    </script>
{% endblock %}

