{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Inscription au club{% endblock %}

{% block body %}

  {% if activeLicensees %}
  <h1>Inscriptions pour la saison {{ year }}-{{year + 1 }}</h1>

  <p>Voici la liste des inscriptions enregistrées pour vous-même ou vos enfants pour la <span class='mark'>saison {{ year }}-{{year + 1 }}</span>.</p>

  <p>Vous pouvez les modifier en cliquant sur le bouton <span class="glyphicon glyphicon-pencil" title="Modifier"></span>, 
     ou supprimer en cliquant sur le bouton <span class="glyphicon glyphicon-trash" title="Supprimer"></span>.</p>

  {% include 'SLNRegisterBundle:Licensee:list_content.html.twig' with { 'licensees': activeLicensees, 'admin': false } %}

  <p>Vous pouvez encore <a href='{{ path('SLNRegisterBundle_licensee_create', { user_id: app.user.id }) }}'>ajouter des licenciés</a>
     en cliquant sur ce lien.</p>

  <h1>Documents à imprimer</h1>

  <div class='row'>
    <div class='col-sm-6'>
      <div class="panel panel-default">
        <div class="panel-heading">Feuilles d'inscription</div>
        <div class="panel-body">
          <p>Une fois toutes les inscriptions complétées, vous devez imprimer les feuilles d'inscription:</p>
          <a class='btn btn-primary btn-block' role="button" href="{{ path('SLNRegisterBundle_member_inscriptions_pdf', {'user_id': app.user.id}) }}" target="_blank">
            Imprimer les feuilles d'inscription pré-remplies</a>
        </div>
      </div>
    </div>

    <div class='col-sm-6'>
      <div class="panel panel-default">
        <div class="panel-heading">Formulaires de licence</div>
        <div class="panel-body">
          <p>Pensez aussi télécharger, remplir et imprimer un formulaire de licence par personne:</p>
          {% set yearp1 = year+1%}
          <a class='btn btn-primary btn-block' role="button" href="{{ asset('bundles/slnregister/images/formulaire_licence_'~yearp1~'.pdf') }}" target="_blank">
           Télécharger le formulaire de licence {{ year }}-{{ year+1 }}</a>
        </div>
      </div>
    </div>
  </div>

  <h1>Etat des inscriptions</h1>

  {% include 'SLNRegisterBundle:Payments:user_detail.html.twig' with { 'user': app.user, 'admin': false } %}

 {% else %}

  <h1>Ajouter une inscription pour la saison {{ year }}-{{year + 1 }}</h1>

  <p>Ajoutez une inscription pour vous-même ou un de vos enfants. Vous avez la possibilité d'en ajouter plusieurs sur cet espace.</p>

  {{ render(controller('SLNRegisterBundle:Licensee:edit', { 'id': 0, 'user_id': app.user.id, 'inside_page': TRUE, 'admin': false })) }}

 {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/slnregister/js/licensee.js') }}"></script>
    <script type="text/javascript">
      $( document ).ready(function() { 
        $('.datepicker').datetimepicker({format: 'DD/MM/YYYY', locale: 'fr'});
        setup_group_description(); 
      });
    </script>
{% endblock %}

